.about {
  font-size: 140%;
  line-height: 1.8;
  text-align: left;
  margin: 0 auto;
  padding: 5px;
  width: 95%;
  animation: .2s about ease-in-out;
}

@keyframes about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  .about {
    width: 800px;
  }
}