body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #eef2f3;
  color: #2c3e50;
}

.hidden {
  display: none !important;
}

input {
  display: none;
}

a:link,
a:visited {
  color: #2c3e50;
  text-decoration: none;
}