.nav {
  /* background-color: #1C58A1; */
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #1C58A1, #83E9BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #1C58A1, #83E9BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 0;
  overflow: hidden;
  transition: .2s ease-in;
}

.nav.open {
  height: 190px;
}

.nav__item {
  color: #0CBCB3;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 170%;
  list-style-type: none;
}

.nav__item:hover {
  color: #ffffff;
}

.nav__item:first-child {
  margin-top: 50px;
}

.name {
  text-align: center;
  padding: 10px;
}